@import "mixins";
@import "variables";
@import "../components/form";

body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.head {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: grid;
    z-index: 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    ul {
        padding: 20px;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        li {
            padding: 0 20px;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.featured-container {
    z-index: -1;
    width: 100%;
    .main-poster {
        .video{
            width: 100%;
        }
    }
    .secondary-posters {
        display: flex;
        flex-flow: row wrap;
        // border-bottom: 2px solid black;
        .poster {
            position: relative;
            width: 33.3%;
            // background-color: blueviolet;
            overflow: hidden;
            height: 80vh;
            a {
                img {
                    width: 100%;
                    height: 100%;
                }
                .poster-title {
                    position: absolute;
                    z-index: 100;
                    bottom: 0;
                }
            }
        }
    }
}

.automakers-container {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 40px;
    width: 70vw;
    article {
        @include column-wrap();
        .automaker-article {
            background-color: rgb(241, 220, 220);
            margin: 1vh;
            display: flex;
            flex-flow: row nowrap;
            padding: 10px;
            align-items: center;
            height: 55vh;
            .img-container {
                position: relative;
                height: 100%;
                width: 40%;
                // border-right: 2px solid black;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .automaker-text-container {
                padding: 10px;
                @include column-wrap();
                width: 60%;
                p {

                    width: 100%;
                }
            }
        }
    }
}

.fun-facts-container {
    @include column-wrap();
    margin: 50px;
    align-items: center;
    .img-fact {
        height: 20vw;
            width: 20vw;
            border-radius: 50%;
    }
    .fact {
        // background-color: darkcyan;
        width: 60vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 40px;
    }
    .fact-2 {
        align-items: center;
        display: flex;
        flex-flow: row-reverse;
        // background-color: darkcyan;
        width: 60vw;
    }

    p {
        font-size: 2em;
        font-style: italic;
    }
}

.videos-container {
    width: 100%;
    background-color: $videos-background;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-bottom: 5vh;
    article {
        // border: 2px solid black;
        @include column-wrap();
        width: 70%;
        iframe {
            width: 100%;
            height: 80vh;
        }
    }
}

.our-writers {
    @include column-wrap();
    align-items: center;
    .writers {
        width: 100%;
        // background-color: darkblue;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .writer {
            @include column-wrap();
            background-color: #d2ead3c7;;
            border-radius: 4vh;
            padding-top: 2vh ;
            align-items: center;
            width: 25vw;
            .wrtiter-img-container {
                width: 20vw;
                height: 20vw;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
        }
        p {
            text-align: justify;
            padding: 2em;
            font-style: italic;
            font-size: 1.5em;
        }
    }
}
}

.form-newsletter {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    @extend form;
    form {
        height: 100vh;
        box-sizing: border-box;
        padding: 60px 40px;
        @include column-wrap();
        width: 40%;
        // border: 2px solid black;
        justify-content: space-evenly;
        input {
            width: 100%;
            height: 30px;
        }
    }
}

footer {
    color: white;
    height: 9vh;
    background-color: rgb(46, 43, 43);
    bottom: 0;
    .authorship {
        padding-top: 2vh;
        padding-left: 2vw;
        font-style: italic;
    }
}