body {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#1b1b02));
  background-image: linear-gradient(red, #1b1b02);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head ul li:hover {
  background-color: #813212;
}

.head ul {
  padding: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.head ul li {
  padding: 0 20px;
}

.featured-container {
  width: 100%;
}

.featured-container .main-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  height: 90vh;
}

.featured-container .main-poster img {
  width: 100%;
  height: 100%;
}

.featured-container .main-poster header {
  position: absolute;
  bottom: 0;
}

.featured-container .secondary-posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.featured-container .secondary-posters .poster {
  position: relative;
  width: 33.3%;
  overflow: hidden;
  height: 80vh;
}

.featured-container .secondary-posters .poster a img {
  width: 100%;
  height: 100%;
}

.featured-container .secondary-posters .poster a .poster-title {
  position: absolute;
  z-index: 100;
  bottom: 0;
}

.automakers-container {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: 40px;
  width: 70vw;
}

.automakers-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.automakers-container article .automaker-article {
  background-color: #f1dcdc;
  margin: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
}

.automakers-container article .automaker-article .img-container {
  position: relative;
  height: 100%;
  width: 40%;
}

.automakers-container article .automaker-article .img-container img {
  width: 100%;
  height: 100%;
}

.automakers-container article .automaker-article .automaker-text-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 60%;
}

.automakers-container article .automaker-article .automaker-text-container p {
  width: 100%;
}

.fun-facts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fun-facts-container .img-fact {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.fun-facts-container .fact {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.fun-facts-container .fact-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  width: 60vw;
}

.fun-facts-container p {
  font-size: 2em;
  font-style: italic;
}

.videos-container {
  width: 100%;
  background-color: rgba(239, 229, 226, 0.97);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 5vh;
}

.videos-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 70%;
}

.videos-container article iframe {
  width: 100%;
  height: 80vh;
}

.our-writers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-writers .writers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-writers .writers .writer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #d2ead3c7;
  border-radius: 4vh;
  padding-top: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
}

.our-writers .writers .writer .wrtiter-img-container {
  width: 20vw;
  height: 20vw;
}

.our-writers .writers .writer .wrtiter-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.our-writers .writers .writer p {
  text-align: justify;
  padding: 2em;
  font-style: italic;
  font-size: 1.5em;
}

.form-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.form-newsletter form, .form-newsletter .form-newsletter {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-newsletter form input, .form-newsletter .form-newsletter input {
  width: 100%;
  height: 30px;
}

footer {
  color: white;
  height: 9vh;
  background-color: #2e2b2b;
  bottom: 0;
}

footer .authorship {
  padding-top: 2vh;
  padding-left: 2vw;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */